
    <!--Grid row-->
       <div class="row" style="padding:5%">

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <div class="first-content align-self-init p-3">
            <i class="fab fa-angular fa-3x "></i>


          </div>
          <div class="second-content align-self-center mx-auto text-center">
            <div class="progress md-progress">

              <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          </div>

          <div class="first-content align-self-center p-3">
            <i class="fab fa-angular fa-3x "></i>


          </div>
          <div class="second-content align-self-center mx-auto text-center">
            <div class="progress md-progress">

              <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <div class="first-content align-self-center p-3">
            <i class="fab fa-angular fa-3x "></i>


          </div>
          <div class="second-content align-self-center mx-auto text-center">
            <div class="progress md-progress">

              <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          </div>

          <div class="first-content align-self-center p-3">
            <i class="fab fa-angular fa-3x "></i>


          </div>
          <div class="second-content align-self-center mx-auto text-center">
            <div class="progress md-progress">

              <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          </div>
          <!-- Card -->


        </div>
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Card -->
          <div class="first-content align-self-center p-3">
            <i class="fab fa-angular fa-3x "></i>


          </div>
          <div class="second-content align-self-center mx-auto text-center">
            <div class="progress md-progress">

              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          </div>

          <div class="first-content align-self-center p-3">
            <i class="fab fa-angular fa-3x "></i>


          </div>
          <div class="second-content align-self-center mx-auto text-center">
            <div class="progress md-progress">

              <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
