.title {

    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;

  }
  .card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
  }

  .carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
  }
  .carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
  }
  .carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
  }
  .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }

  .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;


  }




  .btn {
  margin-top: auto;
  }







.circular-progress {
  transition: all .3s ease-in-out;
  &,
  &:before,
  &:after {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

  position: relative;
  &:before,
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  &:before {
    background: black content-box;
    padding: .5em;
    font-size: 1.5rem;
    line-height: 8rem;
    box-sizing: border-box;
    color: white;
  }
  &:after {
    line-height: 13rem;
  }
}

@function prog($per) {
  $deg: $per * 1.8;
  @return #{$deg}deg;
}

@mixin circular-progress
  ($per, $skill,$color,$bgcolor) {
  $progress: prog($per);
  transform: rotate($progress);
  background: linear-gradient(
    0deg,
    $color 50%,
    rgba($color, 0.4) 50%
  );
    &:before,
    &:after {
      color: $color;
      transform: scale(1.1) rotate(-#{$progress});
    }
    &:before {
      content: "#{$skill}";
    }
    &:after {
      content: "#{$per}%";
      background: linear-gradient(
        transparent 50%,
        $bgcolor 50%
      );
    }
}

.html {
  @include circular-progress(
    70,
    HTML,
    orange,
    black
  );
}

.css {
  @include circular-progress(
    80,
    CSS,
    lighten(blue, 20),
    black
  );
}

.js {
  @include circular-progress(
    98,
    JavaScript,
    lighten(purple, 30),
    black
  );
}

@media (max-width: 40rem) {
  .circular-progress {
    &,
  &:before,
  &:after {
    width: 8rem;
    height: 8rem;
  }

    &:before{
      line-height: 6rem;
      font-size: 1rem;
    }
  &:after {
    line-height: 4rem;
    }
  }
}

@media (max-width: 30rem) {
  body{
    flex-direction: column;
  }
  .circular-progress {
    &,
  &:before,
  &:after {
    width: 12rem;
    height: 12rem;
  }

    &:before{
      line-height: 8rem;
      font-size: 1.5rem;
    }
  &:after {
    line-height: 13rem;
    }
  }
}

